<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/jobpage.css">


    <div class="container mt-5">

        <div class="row d-flex justify-content-center">

            <div class="col-md-10">

                <div class="card p-5 py-4">

                    <div class="text-center">
                        <!-- <img src="https://i.imgur.com/bDLhJiP.jpg" width="100" class="rounded-circle"> -->
                        <!-- <div class="companytitle">Microsoft<span><a class="sitelink" href="https://www.microsoft.com/en-in/about/">Link</a></span></div> -->
                        <div class="companytitle">
                            <%=job.Company%>
                        </div>
                    </div>

                    <div class="text-center mt-1">
                        <h5 class="mt-0 mb-0">
                            <%=job.Name%>
                        </h5>
                        <span>
                            <%=job.State%>, <%=job.Location%>
                        </span>

                        <div class="px-4 mt-1">
                            <p class="fonts">Microsoft enables digital transformation for the era of an intelligent
                                cloud and an intelligent edge. Its
                                mission is to empower
                                every person and every organization on the planet to achieve more. Microsoft set up its
                                India operations in
                                1990. Microsoft in India offers its global
                                cloud services from local data centers to accelerate digital transformation across
                                Indian start-ups,
                                businesses, and government agencies. </p>
                            <div>
                                <ul class="list-group list-group-horizontal d-flex justify-content-center"
                                    id="jobdetails">
                                    <li class="list-group-item">Apply By: <%=job.Lastdate%>
                                    </li>
                                    <li class="list-group-item">CTC: <%=job.CTC%> INR</li>
                                    <li class="list-group-item">Start Date: <%=job.Startdate%>
                                    </li>
                                </ul>
                            </div>
                            <div class="requiredskills">Skills Required</div>
                        </div>
                        <div>
                            <ul class="list-group list-group-horizontal d-flex justify-content-center" id="skills">
                                <% var array=job.skills.split(','); %>
                                    <% for(var i=0; i < array.length; i++){ %>
                                        <li class="list-group-item">
                                            <%=array[i]%>
                                        </li>
                                        <% } %>
                            </ul>

                        </div>
                        <div>Job Description</div>
                        <div class="px-4 mt-1">
                            <p class="fonts">
                                <%=job.Descriptions%>
                            </p>
                            <div>



                                <div class="buttons">

                                    <button class="btn btn-outline-primary px-4">Apply</button>

                                </div>


                            </div>




                        </div>

                    </div>

                </div>

            </div>




            </p>
        </div>
        <br><br>
        <br><br>