<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" href="fonts/icomoon/style.css">

	<link rel="stylesheet" href="css/owl.carousel.min.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- Style -->
	<link rel="stylesheet" href="css/login.css">

	<title>verify</title>
</head>

<body>
	<%- include('../partials/navbar') %>
		<%- include('../partials/flash') %>
			<div class="content">
				<div class="container mt-5">
					<div class="row">
						<div class="col-md-6 mt-2">
							<img src="https://camo.githubusercontent.com/cae12fddd9d6982901d82580bdf321d81fb299141098ca1c2d4891870827bf17/68747470733a2f2f6d69726f2e6d656469756d2e636f6d2f6d61782f313336302f302a37513379765349765f7430696f4a2d5a2e676966"
								alt="Image" class="img-fluid img">
						</div>
						<div class="col-md-6 contents">
							<div class="row justify-content-center">
								<div class="col-md-8">
									<div class="mb-4">
										<h3>Please enter the code sent to you</h3>
									</div>
									<form action="/verify" method="post">
									<input hidden name="email" type="text" id="email" value = "<%= curUser.email %>">
							        <input hidden name="FirstName" type="text" id="FirstName" value = "<%= curUser.FirstName %>">
									<input hidden name="LastName" type="text" id="LastName" value = "<%= curUser.LastName %>">
									<input hidden name="College" type="text" id="College" value = "<%= curUser.College %>">
									<input hidden name="Graduation" type="text" id="Graduation" value = "<%= curUser.Graduation %>">
									<input hidden name="password" type="text" id="password" value = "<%= curUser.password %>">
									<div class="form-group last mb-4">
											<label for="password">Code</label>
											<input type="text" name="code" class="form-control" id="code">

										</div>
<!-- 
										<div class="d-flex mb-5 align-items-center">
											<label class="control control--checkbox mb-0"><span class="caption">Remember
													me</span>
												<input type="checkbox" checked="checked" />
												<div class="control__indicator"></div>
											</label>
											<span class="ml-auto"><a href="#" class="forgot-pass">Forgot
													Password</a></span>
										</div> -->

										<input type="submit" value="Verify" class="btn btn-block btn-info">
									</form>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
			<script src="js/jquery-3.3.1.min.js"></script>
			<script src="js/popper.min.js"></script>
			<script src="js/bootstrap.min.js"></script>
			<script src="js/main.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
				integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
				crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
				integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
				crossorigin="anonymous"></script>
</body>

</html>